USE [master]
GO
/****** Object:  Database [SierraBlueDB]    Script Date: 13/11/2023 9:25:52 ******/
CREATE DATABASE [SierraBlueDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SierraBlueDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SierraBlueDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SierraBlueDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SierraBlueDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SierraBlueDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SierraBlueDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calibres]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calibres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Calibres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empaques]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empaques](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaYHora] [datetime2](7) NOT NULL,
	[Puerto] [nvarchar](max) NULL,
	[Productor] [nvarchar](max) NULL,
	[Variedad] [nvarchar](max) NULL,
	[LotePoscosecha] [nvarchar](max) NULL,
	[Presentacion] [nvarchar](max) NULL,
	[Calibre] [nvarchar](max) NULL,
	[Cliente] [nvarchar](max) NULL,
	[Peso] [real] NOT NULL,
 CONSTRAINT [PK_Empaques] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotesCultivo]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotesCultivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Estado] [nvarchar](max) NULL,
	[ProductorId] [int] NULL,
 CONSTRAINT [PK_LotesCultivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentacions]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentacions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Presentacions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productores]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Iniciales] [nvarchar](max) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Productores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recepciones]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaYHora] [datetime2](7) NOT NULL,
	[Puerto] [nvarchar](max) NULL,
	[Productor] [nvarchar](max) NULL,
	[Variedad] [nvarchar](max) NULL,
	[LoteCultivo] [nvarchar](max) NULL,
	[LotePoscosecha] [nvarchar](max) NULL,
	[Categoria] [nvarchar](max) NULL,
	[Peso] [real] NOT NULL,
 CONSTRAINT [PK_Recepciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variedades]    Script Date: 13/11/2023 9:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variedades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NULL,
	[Iniciales] [nvarchar](max) NULL,
	[Estado] [nvarchar](max) NULL,
	[ProductorId] [int] NULL,
 CONSTRAINT [PK_Variedades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Calibres_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Calibres_Nombre] ON [dbo].[Calibres]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categorias_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categorias_Nombre] ON [dbo].[Categorias]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clientes_Nombre] ON [dbo].[Clientes]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LotesCultivo_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE NONCLUSTERED INDEX [IX_LotesCultivo_Nombre] ON [dbo].[LotesCultivo]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LotesCultivo_ProductorId]    Script Date: 13/11/2023 9:25:52 ******/
CREATE NONCLUSTERED INDEX [IX_LotesCultivo_ProductorId] ON [dbo].[LotesCultivo]
(
	[ProductorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Presentacions_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Presentacions_Nombre] ON [dbo].[Presentacions]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productores_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Productores_Nombre] ON [dbo].[Productores]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Variedades_Nombre]    Script Date: 13/11/2023 9:25:52 ******/
CREATE NONCLUSTERED INDEX [IX_Variedades_Nombre] ON [dbo].[Variedades]
(
	[Nombre] ASC
)
WHERE ([Nombre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Variedades_ProductorId]    Script Date: 13/11/2023 9:25:52 ******/
CREATE NONCLUSTERED INDEX [IX_Variedades_ProductorId] ON [dbo].[Variedades]
(
	[ProductorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empaques] ADD  DEFAULT (CONVERT([real],(0))) FOR [Peso]
GO
ALTER TABLE [dbo].[Recepciones] ADD  DEFAULT (CONVERT([real],(0))) FOR [Peso]
GO
ALTER TABLE [dbo].[LotesCultivo]  WITH CHECK ADD  CONSTRAINT [FK_LotesCultivo_Productores_ProductorId] FOREIGN KEY([ProductorId])
REFERENCES [dbo].[Productores] ([Id])
GO
ALTER TABLE [dbo].[LotesCultivo] CHECK CONSTRAINT [FK_LotesCultivo_Productores_ProductorId]
GO
ALTER TABLE [dbo].[Variedades]  WITH CHECK ADD  CONSTRAINT [FK_Variedades_Productores_ProductorId] FOREIGN KEY([ProductorId])
REFERENCES [dbo].[Productores] ([Id])
GO
ALTER TABLE [dbo].[Variedades] CHECK CONSTRAINT [FK_Variedades_Productores_ProductorId]
GO
USE [master]
GO
